extends layout

block content
  h1 GoCon Talks from Papercall
  hl
  h2 Talks assigned to me!
  ul
    each talk in mine
      li
        a(href=`/proposals/${talk.id}`) #{talk.title}
  br
  p All talks:
  ul
    each talk in talks
      li
        a(href=`/proposals/${talk.id}`) #{talk.title}
