doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    nav
      div
        a(href='/') home
      div
        a(href='/login') login
      div
        a(href='/logout') logout

    if user
      h3 welcome #{user.username}!

    block content
