extends layout

block content
  div.notification
    if message
      div.bg-red-100.border-red-400.text-red-700.px-4.py-3.rounded.relative.mb-2
        h3= message

  div.bg-white.shadow-lg.rounded.p-6.m-auto.text-center(class="w-1/2")
    form(method='POST' action=`/login`)
      div.mb-2
        label.w-20.inline-block.mr-3(for='username') Username
        input.p-1.w-64.border#title(name='username', type='text')
      div.mb-2
        label.w-20.inline-block.mr-3(for='password') Password
        input.p-1.w-64.border#title(name='password', type='password')
      div.mt-4
        button.bg-blue-500.text-white.font-bold.py-2.px-4.rounded(class="hover:bg-blue-700" type='submit') Login
